name: Rust

on:
  push:
    branches: ["dev"]
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: use cache
        uses: Swatinem/rust-cache@v2.7.5
      - name: Build
        run: cargo build --all --release --verbose
      - name: Rename
        run: |
          mv target/release/check-format target/release/check-cmt
          mv target/release/upload-metadata target/release/check-pr
      - uses: actions/upload-artifact@v4
        with:
          name: check-cmt
          path: target/release/check-cmt
      - uses: actions/upload-artifact@v4
        with:
          name: check-pr
          path: target/release/check-pr
      - name: Create Release and Upload Release Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref }}
          name: Release ${{ github.ref }}
          draft: false
          prerelease: false
          files: |
            target/release/check-cmt
            target/release/check-pr
